    <%- include("template/cabecera",{tituloWeb:'Pagina de Mascotas'}) %>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rasgos</th>
                <th scope="col">Acción</th>
            </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>
                        
                        <tr>
                            <th scope="row"><%= mascota.id %> </th>
                            <td><%= mascota.Tipo %></td>
                            <td><%= mascota.Nombre %></td>
                            <td><%= mascota.Rasgos %></td>
                            <td>@mdo</td>
                        </tr>
                    
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
<%- include("template/footer") %>