    <%- include("template/cabecera",{tituloWeb:'Pagina de Mascotas'}) %>

    <div class="container">
        <h1>CRUD MASCOTAS</h1>
        <a 
        class="btn btn-success btn-block"
        href="/mascotas/crear"
        >
        Crear una nueva mascota
        </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rasgos</th>
                <th scope="col">Acción</th>
            </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>
                        
                        <tr>
                            <th scope="row"><%= mascota.id %> </th>
                            <td><%= mascota.Tipo %></td>
                            <td><%= mascota.Nombre %></td>
                            <td><%= mascota.Rasgos %></td>
                            <td>
                                <a href="/mascotas/<%= mascota.id %>"
                                class="btn btn-warning btn-sm">
                                Editar</a>
                            </td>
                        </tr>
                    
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
<%- include("template/footer") %>